.containerprincipal {
    top: -1px;
    left: 0px;
    width: 1920px;
    height: 1081px;
    /* UI Properties */
    opacity: 1;
  }
  
  :root {
  
    --unnamed-color-3634f7: #3634F7;
    --unnamed-color-00000000: #00000000;
    --unnamed-color-ffffff: #ffffff;
    --unnamed-color-cbcbcb: #CBCBCB;
    --unnamed-color-a32ada: #A32ADA;
    --unnamed-color-5538ee24: #5538EE24;
    --unnamed-color-292929: #292929;
    --unnamed-color-d842bd: #D842BD;
    --unnamed-color-3633f7: #3633F7;
    --unnamed-color-8d9da2: #8D9DA2;
    --unnamed-color-001489: #001489;
    --unnamed-color-f12256: #F12256;
  }
  
  
  .Texto1 {
    /* Layout Properties */
    top: 0px;
    left: 0px;
    width: 133px;
    height: 42px;
    /* UI Properties */
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal normal 35px/27px Rubik;
    letter-spacing: 1px;
    color: #131212;
  }
  
  .Texto2 {
    /* Layout Properties */
    top: 0px;
    left: 133px;
    width: 125%;
    height: 42px;
    /* UI Properties */
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 35px/27px Rubik;
    letter-spacing: 0px;
    color: #201212;
  }
  
  .Apptop {
    top: 36px;
    left: 64px;
    width: 93%;
    height: 49px;
    /* UI Properties */
    opacity: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0px 55px 64px;
  }
  
  
  .botaohome {
    border-radius: 25px;
    top: 36px;
    left: 1484px;
    width: 170px;
    height: 49px;
    background: var(--unnamed-color-d842bd) 0% 0% no-repeat padding-box;
    background: #D842BD 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #5538EE29;
    border-radius: 25px;
    opacity: 1;
  }
  
  .botaosair {
    border-radius: 25px;
    top: 36px;
    left: 1689px;
    width: 170px;
    height: 49px;
    background: var(--unnamed-color-3633f7) 0% 0% no-repeat padding-box;
    background: #3633F7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #5538EE29;
    opacity: 1; 
    margin-left: 25px;
  }
  
  .buscas_realizadas {
    
    /* Layout Properties */
    top: 150px;
    left: 184px;
    width: 361px;
    height: 47px;
    /* UI Properties */
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal bold 40px/44px Rubik;
    letter-spacing: 0px;
    color: #0e0b0b;
    opacity: 1;
    margin: 68px 0px 0px 187px;
   
  }
  
  .container_hashtag {
    top: 237px;
    left: 184px;
    width: 100%;
    height: 106px;
    background: #F1F1F1 0% 0% no-repeat padding-box;
    border-radius: 14px;
    opacity: 1;
    margin: auto;
    display: flex;
    align-items: flex-end;
    margin-top: 40px;
  }
  
  
  .caixa_busca {
    /* Layout Properties */
    top: 237px;
    left: 184px;
    width: 1553px;
    height: 758px;
    /* UI Properties */
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #fafaf4 0% 0% no-repeat padding-box;
    border-radius: 14px;
    opacity: 1;
    margin: auto;
  }
  
  .hashtag {  
    /* Layout Properties */
    top: 293px;
    left: 247px;
    width: 74%;
    height: 28px;
    /* UI Properties */
    color: var(--unnamed-color-3633f7);
    text-align: left;
    letter-spacing: NaNpx;
    color: #3633F7;
    opacity: 1; 
    margin-left: 63px;
   
  }
  
  .data {
    /* Layout Properties */
    top: 293px;
    left: 13%;
    width: 10%;
    height: 28px;
    /* UI Properties */
    color: var(--unnamed-color-3633f7);
    text-align: left;
    letter-spacing: NaNpx;
    color: #3633F7;
    opacity: 1
   
  }
  
  .hora {
    /* Layout Properties */
    top: 293px;
    left: 1554px;
    width: 55px;
    height: 28px;
    /* UI Properties */
    color: var(--unnamed-color-3633f7);
    text-align: left;
    letter-spacing: NaNpx;
    color: #3633F7;
    opacity: 1;
  }
  
  
  .mostra_busca    {
    /* Layout Properties */
    top: 366px;
    left: 208px;
    width: 1506px;
    height: 584px;
    /* UI Properties */
    opacity: 1;
  
  }
  
  










  

