.fundoPag * {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

.fundoPag {
  background-image: url("../../img/login-bg.jpg");
  background-image: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding: auto;
}

.buscas_realizadas {
  width: 81%;
  text-align: left;
  font-size: 40px;
  padding: 150px 0px 100px 0px;
  margin: auto;
  color: #FFFFFF;
}

.caixa {
  width: 81%;
  border-radius: 14px;
  margin: auto;
  padding-bottom: 10px;
  background-color: #FFFFFF;
}

.cabecalho {
  width: 100%;
  height: 106px;
  border-radius: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: x-large;
  font-weight: 700;
  padding: 0px 20px;
  background-color: #F1F1F1;
}

.hashtag_cabecalho {
  width: 50%;
  text-align: left;
  font-size: 34px;
  color: #3633F7;
}

.data_cabecalho {
  width: 10%;
  text-align: right;
  color: #3633F7;
}

.hora_cabecalho {
  width: 10%;
  text-align: right;
  color: #3633F7;
}

.container_hashtag {
  width: 100%;
  height: 55px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #41558e40;
}

.container_hashtag:last-child{
  border: none;
}

.hashtag {
  width: 50%;
  text-align: left;
  font-size: 24px;
  color: #292929;
  opacity: 1;
}

.data {
  width: 10%;
  text-align: right;
  font-size: 24px;
  color: #D842BD;
}

.hora {
  width: 10%;
  font-size: 24px;
  text-align: right;
  color: #D842BD;
  opacity: 1;
}


@media all and (min-width: 320px) and (max-width: 768px) {

  .buscas_realizadas {
    text-align: center;
    font-size: 33px;
    font-weight: 700;
    padding: 100px 0px 50px 0px;
  }

  .cabecalho {
    height: 50px;
  }

  .caixa {
    width: 96%;
  }

  .hashtag_cabecalho {
    font-size: 17px;
  }

  .data_cabecalho {
    font-size: 17px;
  }

  .hora_cabecalho {
   font-size: 17px;
  }

  .hashtag {
    font-size: 14px;
  }

  .data {
    font-size: 14px;
  }

  .hora {
    font-size: 14px;
  }

}