.fundoPag  {
  font-size: 0.833vw; /*com base na proporção de 16px para o tamanho de tela de layout especificado de 414, isso mudará o valor padrão da unidade rem da sua página*/
}

.fundoPag * {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}


.fundoPag .loginNav {
  width: 100%;
}

.fundoPag button {
  cursor: pointer;
  background: #3633F7;
  color: #fff;
  padding: 0.688rem;
  border-radius: 2.125rem;
  width: 12.813rem;
  height: 3.5rem;
  margin-top: 1.25rem;
  transition: all 300ms;
  margin-top: 2.813rem;
  border: none;
  font-size: 1.188rem;
  font-weight: bold;
}

.fundoPag button:hover {
  background: rgb(190, 5, 246);
}

.fundoPag {
  background-image: url("../../img/login-bg.jpg");
  background-image: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

.fundoPag .paginaLogin {
  width: 33.313rem;
  height: 38rem;
  border-radius: 0.875rem;
  margin-top: 6.8rem;
  margin-right: 0.9rem;
  box-shadow: 0 0 0.625rem rgb(0 0 0 / 20%);
  background: #fff;
  color: rgb(99, 12, 212);
}

.paginaLogin form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4.125rem;
}

.paginaLogin form input {
  height: 2.5rem;
  font-size: 1.3rem;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0 0.313rem;
  width: 28.553rem;
  margin-top: 1.563rem;
}

.paginaLogin form label {
  margin-bottom: 1.25rem;
}

.paginaLogin form h1 {
  color: #3634F7;
  margin-top: 4.125rem;
  margin-bottom: 2.438rem;
}

/* responsivo - media query */

@media all and (min-width: 320px) and (max-width: 414px) {
  .fundoPag .paginaLogin  {
    font-size: 3.865vw;  /*com base na proporção de 16px para o tamanho da tela de layout especificado de 1920, isso mudará o valor padrão da unidade rem da sua página*/
  }

  .fundoPag .paginaLogin {
    width: 21.25rem;
    height: 28.75rem;
    font-size: 3.865vw;
  }

  .paginaLogin form input {
    width: 20rem;
  }

  .paginaLogin form h1 {
    margin-top: 0.125rem;
  }
}

@media all and (min-width: 415px) and (max-width: 768px) {

  .fundoPag .paginaLogin {
    width: 22.313rem;
    height: 29rem;
    font-size: 2.2vw;
  }

  .paginaLogin form input {
    width: 19.553rem;
  }

  .paginaLogin form {
    margin-top: 0;
  }
}

@media all and (min-width: 769px) and (max-width: 1000px) {
  .fundoPag .paginaLogin {
    font-size: 1.2vw;  /*com base na proporção de 16px para o tamanho da tela de layout especificado de 1920, isso mudará o valor padrão da unidade rem da sua página*/
  }
}