/* Estilo global */
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

h3,
p {
    margin: 0;
}

/* Estilo da div header */

.header {
    height: 480px;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    background-image: url("../../img/hero-bg-mobile.jpg");
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header h1 {
    text-align: left;
    font-size: 2.2rem;
    font-weight: bold;
    margin: 5vh 8vw 0;
}

.header p {
    text-align: left;
    font-size: 1rem;
    margin: 2vh 8vw;
}

.header input {
    width: 75%;
    height: 3rem;
    border: none;
    border-radius: 72px;
    margin-top: 8vh;
    padding-left: 35px;
    background: url("../../img/icon-search.svg") no-repeat left;
    background-size: 10px;
    background-position: 5%;
    background-color: #fff;
}

@media screen and (min-width: 1024px){
    .header {
        height: 660px;
        background-image: url("../../img/hero-bg.jpg");
        background-size: 100%;
        align-items: flex-start;
    }

    .header h1 {
        font-size: 3em;
        font-weight: bold;
    }

    .header p {
        font-size: 1.5em;
    }

    .header input {
        align-self: center;
        height: 90px;
        width: 50%;
        font-size: 2em;
        background-position: 3%;
        background-size: 30px;
        padding-left: 100px;
    }
}

/* Estilo da div body */

.body {
    padding: 0px 0px;
    font-size: 16px;
}

.body h2 {
    color: #3634F7;
    font-size: 1.5em;
    margin: 54px 0px 32px 0px;
    text-align: center;
}

.carrosselContainer {
    padding: 0px 5vw;
    position: relative;
}

@media screen and (min-width: 768px) {

    .body {
        font-size: 19px;
    }

    .body h2 {
        margin: 54px 0px 75px 0px;
    }
}

@media screen and (min-width: 1024px){
    .body {
        font-size: 25px;
    }

    .body h2 {
        margin: 54px 0px 125px 0px;
    }
}
